High-dose	O
growth	O
hormone	O
does	O
not	O
affect	O
proinflammatory	B-protein
cytokine	I-protein
(	O
tumor	B-protein
necrosis	I-protein
factor-alpha	I-protein
,	O
interleukin-6	B-protein
,	O
and	O
interferon-gamma	B-protein
)	O
release	O
from	O
activated	O
peripheral	B-cell_type
blood	I-cell_type
mononuclear	I-cell_type
cells	I-cell_type
or	O
after	O
minimal	O
to	O
moderate	O
surgical	O
stress	O
.	O