1	To	_	A	AC	case=unmarked
2	kendte	_	A	AN	degree=pos|gender=common/neuter|number=plur|case=unmarked|def=def/indef|transcat=unmarked
3	russiske	_	A	AN	degree=pos|gender=common/neuter|number=plur|case=unmarked|def=def/indef|transcat=unmarked
4	historikere	_	N	NC	gender=common|number=plur|case=unmarked|def=indef
5	Andronik	_	N	NP	case=unmarked
6	Andronik	_	N	NP	case=unmarked
7	og	_	C	CC	_
8	Igor	_	N	NP	case=unmarked
9	Klamkin	_	N	NP	case=unmarked
10	tror	_	V	VA	mood=indic|tense=present|voice=active
11	ikke	_	RG	RG	degree=unmarked
12	,	_	X	XP	_
13	at	_	C	CS	_
14	Rusland	_	N	NP	case=unmarked
15	kan	_	V	VA	mood=indic|tense=present|voice=active
16	udvikles	_	V	VA	mood=infin|voice=passive
17	uden	_	SP	SP	_
18	en	_	P	PI	gender=common|number=sing|case=unmarked|register=unmarked
19	"	_	X	XP	_
20	jernnæve	_	N	NC	gender=common|number=sing|case=unmarked|def=indef
21	"	_	X	XP	_
22	.	_	X	XP	_

1	De	_	P	PP	person=3|gender=common/neuter|number=plur|case=nom|reflexive=no|register=unmarked
2	hævder	_	V	VA	mood=indic|tense=present|voice=active
3	,	_	X	XP	_
4	at	_	C	CS	_
5	Ruslands	_	N	NP	case=gen
6	vej	_	N	NC	gender=common|number=sing|case=unmarked|def=indef
7	til	_	SP	SP	_
8	demokrati	_	N	NC	gender=neuter|number=sing|case=unmarked|def=indef
9	går	_	V	VA	mood=indic|tense=present|voice=active
10	gennem	_	SP	SP	_
11	diktatur	_	N	NC	gender=neuter|number=sing|case=unmarked|def=indef
12	.	_	X	XP	_
