1	A rebel statement sent to Lisbon from Jamba said 86 government soldiers and 13 guerrillas were killed in the fighting that ended Jan. 3. It said the rebel forces sill held Mavinga.
2	Authorities last week issued a vacate order for a club in Manhattan and closed another in the Bronx.
3	At the first Pan Am bankruptcy hearing, for example, at least five airlines were represented.
4	Mr. Neigum, poker-faced during the difficult task, manages a 46-second showing.
5	This, combined with the container division talks, suggests the group's bankers might be considering an orderly disposal of all assets.
6	She told the Post in an interview published Sunday that some of the money may have become "mingled" into improvements on her home that included a swimming pool, a $2,500 wide-screen television and renovations to her basement.
7	According to a study by the Marshall Institute, the average NASA employee's age in 1963 was 30; now most of its senior and middle-managers will be eligible to retire in five years.
