-DOCSTART- -DOCSTART- O
De Art O
tekst N O
van Prep O
het Art O
arrest N O
is V O
nog Adv O
niet Adv O
schriftelijk Adj O
beschikbaar Adj O
maar Conj O
het Art O
bericht N O
werd V O
alvast Adv O
bekendgemaakt V O
door Prep O
een Art O
communicatiebureau N O
dat Conj O
Floralux N B-ORG
inhuurde V O
. Punc O

In Prep O
'81 Num O
regulariseert V O
de Art O
toenmalige Adj O
Vlaamse Adj B-MISC
regering N O
de Art O
toestand N O
met Prep O
een Art O
BPA N B-MISC
dat Pron O
het Art O
bedrijf N O
op Prep O
eigen Pron O
kosten N O
heeft V O
laten V O
opstellen V O
. Punc O