# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Main - Regenerate NOTICE

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-master-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-master-m2

      - name: Generate Dependency Licenses
        run: |
          mvn license:aggregate-add-third-party@generate-and-check-licenses \
          -Dlicense.skipAggregateAddThirdParty=false \
          -B \
          -Dlicense.thirdPartyFilename=DEPENDENCY-LICENSES \
          -Dlicense.outputDirectory=target

      - name: Create NOTICE File
        run: |
          cat src/license/NOTICE.template target/DEPENDENCY-LICENSES > NOTICE

      - name: Create Pull Request after License Regeneration
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          base: main
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Minor: Regenerated NOTICE File for ${{ github.sha }}"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: regenerate_license_file_after_dep_upgrade
          delete-branch: true
          title: "Regenerated NOTICE file after dependency changes"
          body: |
            Found some uncommited changes (from NOTICE regeneration) after running build on OpenNLP
          labels: |
            dependency